body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #222;
}

.table-tennis .table .surface {
    fill: darkgreen;
}

.table-tennis .table .stand {
    fill: gray;
}

.table-tennis .ball .current {
    fill: white;
}

.table-tennis .ball .path {
    fill: transparent;
    stroke: #ffffff22;
    stroke-width: 0.04;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.table-tennis .bat .surface {
    fill: #0000ff22;
    stroke: #0000ff;
    stroke-width: 0.005;
}

.table-tennis .bat .trail {
    stroke: #ffffff44;
    stroke-width: 0.025;
    stroke-linecap: round;
}
